/* Design system */

/* color */

:root {
    --semi-orange: #f25822;
}

/* text */

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    color: #000;
}

h1 {
    font-size: 60px;
    font-family: 'Gilroy-Bold';
    line-height: 70px;
    padding-bottom: 20px;
}

h2 {
    font-size: 45px;
    font-family: 'Gilroy-Bold';
    line-height: 130%;
    padding-bottom: 20px;
}

h3 {
    font-size: 24px;
    font-family: 'Gilroy-Bold';
    line-height: 24px;
}


h3.small {
    font-size: 20px;
    font-family: 'Gilroy-Bold';
    line-height: 150%;
}

p.large {
    color: #888;
    font-size: 20px;
    font-family: 'Gilroy-Medium';
    line-height: 23px;
    padding-bottom: 30px;
}

p.medium {
    color: #666;
    font-size: 16px;
    font-family: 'Gilroy-Regular';
    line-height: 24px;
    padding-bottom: 35px;
}

p.small {
    color: #666;
    font-size: 15px;
    font-family: 'Gilroy-Regular';
    line-height: 22px;
    padding-bottom: 35px;
}
/* buttons */

.primary-btn {
    font-size: 12px;
    font-family: 'Gilroy-Medium';
    padding: 12px 27px;
    border-radius: 30px;
    background: var(--semi-orange);
    color: #fff;
}

.primary-btn:hover {
    opacity: .8;
}

.submit-btn {
    font-size: 13px;
    font-family: 'Gilroy-Medium';
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    background: var(--semi-orange);
    color: #fff;
}

.secondary-btn {
    font-size: 13px;
    font-family: 'Gilroy-Bold';
    padding: 13px 60px;
    border-radius: 30px;
    background: #f2582240;
    color: #f25822;
}

body {
    overflow-x: hidden;
}

/* header */

header {
    width: 100%;
    height: 700px;
}

/* header menu */

#header-menu {
    width: 100%;
    padding: 40px 0;
}

#header-logo {
    width: 137px;
    height: 40px;
}

#header-nav li {
    margin-left: 35px;
}

#header-nav li a {
    color: #000;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Gilroy-Medium';
}

#header-nav li a.active {
    color: var(--semi-orange);
}
#header-nav li a.primary-btn {
    color: #fff;
    font-size: 12px;
}

#header-nav li a:hover {
    color: var(--semi-orange);
}
#header-nav li a.primary-btn:hover {
    color: #fff;
}

/* header content */

#header-content-wrap {
    width: 100%;
    height: calc(100% - 124px);
    background: url(../image/bacground-1.svg) left 50px top/50% no-repeat;
}

#header-content {
    width: 100%;
    height: 100%;
}

#header-content-title {
    background: url(../image/element.svg) left center/50% no-repeat;
}

#header-content-bg {
    position: relative;
}
#header-content-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 130%;
    height: 100%;
    background: url(../image/header-content-bg.svg) center center/contain no-repeat;
}

#hero-form > * {
    margin-right: 30px;
}

#hero-form span a {
    color: #aaa;
    font-size: 15px;
    font-family: 'Gilroy-Bold';
    margin-left: 20px;
    vertical-align: middle;
}

#hero-form span .bx {
    color: var(--semi-orange);
    font-size: 24px;
    vertical-align: middle;
}

aside {
    width: 100%;
    padding: 100px 0;
}

aside img {
    width: 160px;
    height: 50px;
}

/* main */

/* solutions */

#solutions-wrap {
    width: 100%;
    height: 540px;
    background: url(../image/vector1.svg) no-repeat,
                url(../image/vector2.svg) no-repeat,
                #fafafa;
    background-size: contain, contain;
    background-position: bottom, bottom;
}

#solutions {
    width: 100%;
    height: 100%;
}

#solutions-bg {
    background: url(../image/macbook.svg) center center/ contain no-repeat;
}

/* quality cards */

#quality-cards-wrap {
    width: 100%;
}

#quality-card {
    width: 100%;
    padding: 100px 0;
}

.quality-cards {
    width: 32%;
    padding: 35px 25px;
    background: #fff;
}

.quality-card-2 {
    box-shadow: 15px 25px 56px 6px #0000000f;
}

.quality-cards img {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

.quality-cards h3 {
    margin-bottom: 20px;
}

.quality-cards p {
    padding: 0;
    margin-bottom: 20px;
}

.quality-cards a {
    color: #000;
    font-size: 11px;
    font-family: 'Gilroy-Bold';
}

/* choose us */

#choose-us {
    width: 100%;
    padding: 100px 0;
    background: #fafafa;
}

#choose-us-title {
    text-align: center;
    margin-bottom: 35px;
}

#choose-us-cards-wrap {
    width: 100%;
}

.choose-us-cards {
    width: 370px;
    height: 550px;
    background: #fff;
}

.choose-us-cards:nth-of-type(2) {
    box-shadow: 15px 25px 60px -5px #0000001a;
}

.choose-cards-image {
    width: 100%;
    height: 45%;
    background: red;
}

.choose-cards-image-1 {
    background: url(../image/choose-img-1.svg) center center/cover no-repeat;
}
.choose-cards-image-2 {
    background: url(../image/choose-img-2.svg) center center/cover no-repeat;
}
.choose-cards-image-3 {
    background: url(../image/choose-img-3.svg) center center/cover no-repeat;
}

.choose-cards-content {
    width: 100%;
    height: 55%;
    padding: 35px 20px;
    text-align: center;
}

.choose-cards-content h3 {
    margin-bottom: 30px;
}

.choose-cards-content p {
    padding: 0;
    margin-bottom: 40px;
}

.choose-cards-content .bx {
    font-size: 18px;
    line-height: 130%;
    vertical-align: middle;
}

/* SEO */

#seo {
    width: 100%;
    height: 800px;
}

#seo-img {
    background: url(../image/seo.svg) center center/100% 100% no-repeat;
}
#seo-content {
        width: 36%;
}

#seo-boxes-wrap {
    width: 100%;
}

.seo-box {
    width: 100%;
    height: 135px;
    padding: 15px;
    background-color: #fff;
    margin-bottom: 35px;
}

.seo-box:last-of-type {
    margin: 0;
}

.seo-box:nth-of-type(2) {
    box-shadow: 15px 25px 60px -5px #0000001a;
}

.seo-box-icon {
    width: 25%;
    height: 100%;
}

.seo-box-content {
    width: 75%;
    height: 100%;
}

.seo-box-icon img {
    width: 100px;
    height: 100px;
}


.seo-box-content h3 {
    padding-bottom: 20px;
}

#numbers-wrap {
    width: 100%;
    padding: 100px 0;
}

#numbers {
    width: 100%;
    height: 200px;
    border: 2px solid #eee;
}

.numbers-content {
    text-align: center;
}

.numbers-content span {
    color: #666;
    font-size: 70px;
    font-family: 'Gilroy-Bold';
}

.numbers-content p {
    color: #666;
    font-size: 18px;
    font-family: 'Gilroy-SemiBold';
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
}

.c-bg1 {
    background: #f3602d;
}

.c-bg2 {
    background: #149211;
}

.c-bg3 {
    background: #ffc700;
}

/* mailbox */

#mailbox-wrap {
    width: 80%;
    height: 500px;
    margin: 0 auto;
}

#mailbox-content p {
    padding: 0;
}


#mailbox-img img {
    width: 100%;
}

#mailbox-form {
    margin-top: 60px;
}

#mailbox-input {
    width: 400px;
    height: 50px;
    border-radius: 50px;
}

#mailbox-input input {
    width: 50%;
    height: 100%;
    padding: 20px;
    background: #eee;
    color: #666;
    font-size: 11px;
    font-family: 'Gilroy-Medium';
    line-height: 16px;
}

input:focus {
    outline: none;
}

#web-url {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
    border-right: 1.5px solid #ccc;
}

#email {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
}

#mailbox-form .submit-btn {
    margin-left: 30px;
}


/* Our Plans */

#plans-wrap {
    width: 100%;
    padding: 100px 0;
    background: #fafafa;
}

#plans-title {
    text-align: center;
    margin-bottom: 60px;
}

#plans-title h2 {
    padding-bottom: 15px;
}
#plans-title p {
    padding: 0;
}

/* plans card */

#plans-card-wrap {
    width: 100%;
}

.plans-cards {
    width: 32%;
    padding: 70px 85px;
    text-align: center;
    background: #fff;
}

.plans-cards:nth-of-type(2) {
    box-shadow: 15px 25px 70px -5px #00000012;
    padding: 100px 85px;
}

.plans-cards:nth-of-type(2) .secondary-btn {
    color: #fff;
    background: #f25822;
}

.plans-cards:nth-of-type(2) h3 {
    color: #f25822;
}

.plans-cards h3 {
    padding: 0;
    margin-bottom: 25px;
}

.plans-cards p {
    line-height: 250%;
    padding: 0;
    margin-bottom: 35px;
}

.prices {
    display: inline-block;
    margin-bottom: 15px;
    position: relative;
    color: #000;
    font-size: 70px;
    font-family: 'Gilroy-Medium';
}

.prices::before {
    content: "$";
    position: absolute;
    top: 15px;
    left: -15px;
    font-size: 18px;
}
.prices::after {
    content: "/month";
    position: absolute;
    bottom: 13px;
    right: -60px;
    font-size: 18px;
}


/* TEam */

#team-wrap {
    width: 100%;
    padding: 100px 0;
}

#team-title {
    text-align: center;
    margin-bottom: 60px;
}

/* team cards */

#team-card-wrap {
    width: 100%;
}

.team-cards {
    width: 24%;
    height: 330px;
    padding: 50px 70px;
    text-align: center;
    border: 1px solid #eee;
}

.main-team-card {
    border: none;
    box-shadow: 15px 20px 50px #0000001a;
}

.team-cards img {
    width: 130px;
    height: 130px;
    margin-bottom: 25px;
}

.team-cards h3 {
    font-family: 'Gilroy-Regular';
}

.team-cards span {
    display: inline-block;
    color: #888;
    font-size: 13px;
    font-family: 'Gilroy-Regular';
    margin-bottom: 25px;
}

#team-sm li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
}

#team-sm li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

#team-sm li a.active {
    background: red;
    border-radius: 50%;
}

#team-sm li a.active .bx {
    color: #fff;
}

#team-sm li .bx {
    color: #aaa;
    font-size: 12px;
}

/* Testimonials */

#testimonials {
    width: 100%;
    padding: 100px 0;
}

#testimonials-title {
    text-align: center;
}

#testimonials-content {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

.testimonials-cards {
    min-width: 570px;
    max-width: 570px;
    margin: 0 30px;
    padding: 30px;
    text-align: center;
    background: #fff;
    border: 2px solid #eee;
    transform: translateX(-40%);
}


.testimonials-cards:first-of-type, .testimonials-cards:last-of-type {
    opacity: 0.5;
}
.testimonials-cards:nth-of-type(2) {
    border: none;
    box-shadow: 15px 25px 60px -10px #0000001a;
}

.testimonials-cards p {
    padding-bottom: 30px;
}


.testimonials-cards img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.testimonials-cards span {
    display: block;
}

.testimonials-cards span.name {
    font-size: 13px;
    font-family: 'Gilroy-Medium';
    margin-bottom: 5px;
}

.testimonials-cards span.job {
    color: #888;
    font-size: 13px;
    font-family: 'Gilroy-Regular';
}

#slide-circle {
    margin-bottom: 25px;
}

#slide-circle li {
    margin: 0 4px;
}

#slide-circle span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ddd;
}

#slide-circle span.active {
    width: 12px;
    height: 12px;
    background: #f25822;
    vertical-align: middle;
}


/* Blog post */

#blogpost {
    width: 100%;
    padding: 100px 0;
}

#blogpost-title {
    text-align: center;
    margin-bottom: 45px;
}

#blogpost-title p {
    padding: 0;
}

#blogpost-content {
    display: flex;
    width: 100%;
}

.blogpost-cards {
    min-width: 770px;
    max-width: 770px;
    height: 330px;
    border: 2px solid #aaa;
    margin: 0 30px;
    transform: translateX(-30%);
}


.blogpost-cards:first-of-type, .blogpost-cards:last-of-type {
    opacity: 0.5;
}

.blogpost-cards:nth-of-type(2) {
    border: none;
    box-shadow: 15px 25px 60px -10px #0000001a;
}

.blogpost-card-img-1 {
    width: 45%;
    background: url(../image/blogpost-1.svg) no-repeat;
    background-position: right center;
    background-size: contain;
}

.blogpost-card-img-2 {
    width: 45%;
    background: url(../image/blogpost-2.svg) center center/cover no-repeat;
}


.blogpost-card-img-3 {
    width: 45%;
    background: url(../image/blogpost-3.svg) center center/cover no-repeat;
}

.blogpost-card-content {
    width: 55%;
    padding: 45px 30px;
}

.blogpost-card-content h3 {
    margin-bottom: 20px;
}

#blogpost-sm {
    margin-bottom: 20px;
}

#blogpost-sm li {
    margin-right: 30px;
}

#blogpost-sm span {
    color: #888;
    font-size: 11px;
    font-family: 'Gilroy-SemiBold';
}

#blogpost-sm .bx {
    color: #f25822;
    font-size: 14px;
    vertical-align: middle;
    margin-right: 2px;
}

.blogpost-card-content > p {
    padding: 0;
    margin-bottom: 20px;
}

.blogpost-card-content > a {
    color: #f25822;
    font-size: 12px;
    font-family: 'Gilroy-Bold';
    line-height: 16px;
}


/* footer */

footer {
    width: 100%;
    padding-top: 100px;
    background: #f3f3f3;
}

#footer-content {
    width: 100%;
    padding-bottom: 60px;
}

#footer-content > div {
    width: 23.7%;
}

#footer-logo {
    width: 160px;
    height: 50px;
    margin-bottom: 40px;
}

#footer-sm {
    transform: translateX(-22px);
}

#footer-sm li {
    margin: 0 2px;
    list-style: none;
}

#footer-sm li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#footer-sm li a .bx {
    font-size: 16px;
    color: #aaa;
}

#footer-sm li a.active {
    background: #f25822;
}

#footer-sm li a.active .bx {
    color: #fff;
}

#footer-content h3 {
    margin-bottom: 65px;
}

#footer-content ul {
    color: #F25822;
    list-style: disc;
    margin-left: 20px;
}

#footer-content ul li {
    line-height: 230%;
}

#footer-content ul li a {
    color: #666;
    font-size: 16px;
    font-family: 'Gilroy-Medium';
}

#footer-content p {
    padding-bottom: 10px;
}


/* copyright */

#copyright {
    width: 100%;
    padding: 25px 0;
    border-top: 1px solid #ccc;
    text-align: center;
}

#copyright p {
    padding: 0;
}